<% include ./partials/header %>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<table style="width:100%;">

  <tr>
    <th>Model</th>
    <th>GET</th> 
    <th>POST</th>
  </tr>


  <tr>
    <td>Devices</td>
    <td><a href="/api/devices">GET ALL</a></td> 
    <td><% include ./partials/newdeviceform %></td>
  </tr>


  <tr>
    <td>Datapoints</td>
    <td>
      <a href="/api/datapoints">GET ALL</a>
      <% include ./partials/datapointsearchform %>
    </td> 
    <td>
      <% include ./partials/newdatapointform %>
    </td>
  </tr>


  <tr>
    <td>Gestures</td>
    <td>
      <a href="/api/gestures">GET ALL</a>
      <% include ./partials/gesturesearchform %>
      </td>
    <td>
      <% include ./partials/newgestureform %>
    </td>
  </tr>

</table>
<br>


<br>




<% include ./partials/footer %>