<% include ./partials/header %>

<a href="/api/devices">devices</a>
<% include ./partials/newdeviceform %>

<a href="/api/datapoints">datapoints</a>
<% include ./partials/newdatapointform %>

<% include ./partials/footer %>