<% include ./partials/header %>

<div class="section match">
	<div class="container">
		<div class="row">
			<div class="u-full-width">
				<h2><%= currentUser.username %></h2>
				<button onclick="connectToBTDeviceByUUID()">Click me</button>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>