<div class="container flash">
	<% if(error && error.length > 0) { %>
		<div class="alert alert-warning" role="alert">
			<%= error %>
		</div>
	<% } %>
	<% if(success && success.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
</div>
