<form action="/login" method="post">
	<h5>Login</h5>
	<label for="username">User</label>
	<input type="text" name="username" id="username" placeholder="username" required>
	<br>
	<br>
	<label for="password">Password</label>
	<input type="password" name="password" placeholder="password" id="password" required>
	<br>
	<br>
	<input type="submit" class="button-primary">
	<br>
	<br>
	<p>New user? <a href="/register">Sign up here</a></p>
</form>
