<form action="/users" method="post">
	<h5>Register</h5>
	<label for="username">User</label>
	<input type="text" name="username" id="username" placeholder="username" required>
	<br>
	<br>
	<label for="password">Password <i class="fas fa-eye" onmouseover="document.getElementById('password').type='text'" onmouseout="document.getElementById('password').type='password'"></i></label>
	<input type="password" name="password" placeholder="password" id="password" required>
	<br>
	<br>
	<input type="submit" class="button-primary">
</form>